.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-container input[type="text"] {
  font-size: 15px;
  width: 100%;
  border: 1px solid #fb5521;
  padding: 10px 0;
  outline: none;
}

/* Prevent autofill background color change */
.input-field input[type="text"]:-webkit-autofill,
.input-field input[type="text"]:-webkit-autofill:hover,
.input-field input[type="text"]:-webkit-autofill:focus,
.input-field input[type="text"]:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
}

.input-field input[type="text"]:-webkit-autofill,
.input-field input[type="text"]:-webkit-autofill:hover,
.input-field input[type="text"]:-webkit-autofill:focus,
.input-field input[type="text"]:-webkit-autofill:active,
.input-field.theme {
  -webkit-text-fill-color: black !important;
  box-shadow: inset 0 0 20px 20px white;
}

.input-container .label {
  top: 3;
  left: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 16px;
  font-weight: 400;
  padding-left: 4px;
  font-family: Poppins, sans-serif;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
}
.input-container input[type="text"]:focus,
.input-container input[type="text"]:valid {
  top: -20px;
  font-size: 16px;
  font-weight: 400;
  color: black;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;
}
.input-container input[type="text"] {
  top: -20px;
  font-size: 16px;
  color: white;
  transition: none;
}
.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

.border-red {
  border-bottom-color: red;
}

.border-default {
  border-bottom-color: #787878;
}

.text {
  font-size: 16px;
  font-style: italic;
  font-family: sans-serif;
  padding-top: 2px;
}

.input-field {
  font-family: sans-serif;
  border-radius: 10px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.text-red {
  color: red;
}

.text-white {
  color: white;
}

.placeholder-red::placeholder {
  color: red;
}

.text-default {
  color: #787878;
}

.text-seaGreen {
  background-color: #fb5521;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underline {
  height: 1px;
  margin-bottom: 2px;
}

.bg-red {
  background-color: red;
}

.bg-default {
  background-color: #787878;
}
.input-container .input[type="text"]:first-child {
  padding: 20px;
  color: red;
}
