.session_container {
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.session_container.light {
  background-color: white;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.heading {
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 3px;
  font-weight: 500;
  font-family: Inter, sans-serif;
}

.heading.light {
  color: black;
}

.item-container {
  display: flex;
  align-items: center;
}

.userName {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: #6c7275;
  overflow: hidden !important;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #9d9d9d;
  text-overflow: ellipsis;
  max-width: 180px;
  white-space: nowrap;
}

.userName.light {
  color: #000000;
}

.messages {
  font-family: Poppins, sans-serif;
  font-size: 10px;
  color: #ffffff;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 180px;
  white-space: nowrap;
  padding-top: 2px;
}

.messages.light {
  color: #6c6c6c;
}

.status {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #079485;
}

.image {
  width: 28px;
  cursor: pointer;
  object-fit: contain;
}

.name-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.elapsed-time {
  font-weight: 500;
  font-family: Inter, sans-serif;
  font-size: 12px;
  color: #6c6c6c;
}
