.window_wrap {
  width: 350px;
  height: 500px;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}
.header {
  /* background-color: #fff; */
  color: white;
  padding: 10px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.avatar_wrap {
  background-color: black;
  border: 4px solid black;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  z-index: 2;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.avatar_wrap.light {
  border: 4px solid white;
}

.window {
  width: 350px;
  height: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #141718;
  position: relative;
  z-index: 1;
  .window_header {
    padding: 35px 18px 10px;
    position: sticky;
    top: 0;
  }
  p {
    margin: 0;
    overflow: auto;
  }
}
.window.light {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.line_break {
  height: 1px;
  width: 100%;
  background-color: #454545;
  border: none;
  padding: 0;
  margin: 0;
}
.icon_header div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}
.icon_header {
  display: flex;
  justify-content: space-between;
}
.hamburger {
  background: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}
.hamburger:hover {
  background: transparent;
}
.grey_image {
  filter: invert(50%) grayscale(100%);
  height: 20px;
  width: 20px;
}
.delete_chat_icon {
  height: 20px;
  width: 20px;
}
.delete_chat_icon.light {
  height: 20px;
  width: 20px;
  filter: brightness(0);
}
.toggle_icon {
  height: 15px;
  width: 15px;
}
.toggle-button {
  width: 50px;
  height: 22px;
  border: 2px solid #0c7587;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #232627;
  padding: 0px;
}
.toggle-button.toggled {
  background-color: #ffffff06;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.toggle-image-container {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: transform 0.3s ease;
}

.toggle-button.toggled .toggle-image-container {
  transform: translateX(33%);
}

.toggle-button .toggle-image-container {
  transform: translateX(-10%);
}
.wrapper {
  background: linear-gradient(180deg, #079485 0%, #115588 100%);
  border-radius: 50%;
  padding: 1.2px;
}
.chatbot_content {
  height: 100%;
  margin: 20px;
  border-radius: 9px;
  overflow: auto;
  border: 2px solid;
  border-color: #079485;
}
.form_content {
  height: 100%;
  border-radius: 9px;
  overflow: auto;
}
.content-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(180deg, #079485 0%, #115588 100%);
  border-image-slice: 1;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.chat-heading {
  color: white;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  width: 100%;
  font-weight: bold;
}
.chat-heading.light {
  color: black;
}

.chat-text {
  color: white;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  width: 100%;
  font-weight: bold;
}

.chat-text.light {
  color: black;
}

.send-msg-icon {
  width: 24px;
  height: 24px;
}

.new-conversation-text {
  font-size: 14px;
  font-family: "Poppins, sans-serif";
  color: white;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
  overflow: hidden;
}

.start_session {
  display: flex;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  background-image: linear-gradient(
    90.57deg,
    #079485 9.91%,
    #0c7586 50.24%,
    #115588 91.56%
  );
  border: none;
}
.no_session {
  display: flex;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  background-image: linear-gradient(
    90.57deg,
    #079485 9.91%,
    #0c7586 50.24%,
    #115588 91.56%
  );
  border: none;
}
.no_session_box {
  position: absolute;
  bottom: 130px;
  text-align: center;
  align-self: center;
  transform: translate(50%, -122%);
  top: 60%;
}
.session_box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* form */
.form-container {
  border: 1px solid;
  border-radius: 16px;
  margin: 15px 30px 15px 30px;
  border-color: #079485;
}

.form-header {
  display: flex;
  padding: 12px 9px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: linear-gradient(90deg, #079485 0%, #115588 100%);
  justify-content: center;
  align-items: center;
}

.go-back-icon {
  width: 25px;
  cursor: pointer;
}
.go-back-icon.light {
  width: 25px;
  cursor: pointer;
  filter: brightness(0);
}
.grey_back_icon {
  filter: invert(50%) grayscale(100%);
  width: 25px;
}
.form-instruction {
  color: white;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  width: 91%;
  margin-left: 10px;
}

.form-body {
  padding: 28px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.submit-button {
  display: flex;
  padding: 5px 12px 5px 7px;
  /* width: 60%; */
  justify-content: center;
  border-radius: 6px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background: linear-gradient(90deg, #079485 0%, #115588 100%);
  border: none;
}

.send-icon {
  width: 20px;
}

.submit-text {
  font-size: 14px;
  font-family: "Poppins, sans-serif";
  color: white;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
  overflow: hidden;
}
/* conversation */
.conversations {
  height: 168px;
  overflow: auto;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* messageSession */
.chat-container {
  overflow: auto;
  margin-bottom: 18px;
  padding: 5px 20px;
  transition: height 0.3s ease-in-out;
}

.chat-container.expanded {
  height: 270px;
}

.chat-container.collapsed {
  height: calc(100vh - 30vh);
}
/* textblock */
.text-block {
  position: relative;
  margin-top: 12px;
}

.text-block .header-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-block .header-text p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.text-block .header-text .time {
  font-size: 10px;
  font-weight: 500;
  color: gray;
}

.text-block .header-bot .time {
  font-size: 10px;
  font-weight: 500;
  color: gray;
}

.text-block .message {
  padding: 14px 18px;
  margin-top: 7px;
  max-width: calc(100% - 32px);
  word-break: break-word;
  font-family: "Sans-serif";
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.text-block.user {
  text-align: right;
}

.text-block.user .header-user {
  justify-content: end;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-block.user .message {
  width: fit-content;
  max-width: 200px;
  margin-left: auto;
  background: linear-gradient(90deg, #079485 0%, #115588 100%);
  border-radius: 15px 15px 0px 15px;
}

.text-block.bot .header-bot {
  justify-content: start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-block.bot .message {
  width: fit-content;
  max-width: 200px;
  margin-right: auto;
  background: rgba(40, 48, 63, 0.7);
  border-radius: 15px 15px 0px 15px;
}

.bot-name {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #0cf0c0 0%,
    #16cae7 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
/* inputField */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.input-wrapper {
  border: 1px solid;
  border-radius: 12px;
  /* padding: 8px; */
  width: 300px;
}

.input-wrapper.limit-reached {
  border-color: red;
}

.input-wrapper:not(.limit-reached) {
  border: 1px solid;
  border-color: #079485;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  border: 1px solid;
  padding: 6px;
  border-color: #079485;
  border-radius: 6px;
}

.input-textarea {
  width: 92%;
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: medium;
  border: none;
  outline: none;
  padding: 0px;
  transition: none;
}
.input-textarea .theme {
  color: #141718;
}

.input-textarea::placeholder {
  color: #708090; /* slate gray */
}

.input-textarea.text-limit {
  color: red;
}

.input-textarea:focus {
  background-color: transparent;
  border-style: none;
  border-color: none;
  color: white;
}

.message-submit-button {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid;
  background: linear-gradient(90deg, #079485 0%, #115588 100%);
  transition: transform 0.3s;
  border: none;
}

.message-submit-button:disabled {
  opacity: 0.6;
}

.message-submit-button:not(:disabled):hover {
  transform: scale(1.1);
}

.message-send-icon {
  width: 20px;
  height: 20px;
}

.powered-by {
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  color: white;
}
.powered-by.light {
  color: black;
}

.ai-text,
.chatbot-text {
  font-size: 12px;
  font-weight: bold;
}

.chatbot-text {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #0cf0c0 0%,
    #16cae7 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.char-counter {
  font-size: 10px;
  color: white;
}

.char-counter.text-limit {
  color: red;
}

.rotated-half-circle {
  width: 70px;
  height: 70px;
  border: 7px solid #0c7587;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: translateX(50%) rotate(135deg);
  position: absolute;
  top: 35%;
  z-index: 2;
  right: 50%;
}

.loader {
  width: 33px;
  aspect-ratio: 3;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
